.parallax-tilt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform-style: preserve-3d;
}

.background {
    transform: translateZ(0px);
    position:absolute;
    top: 0px;
    left: 0px;
}

.middleground {
    transform: translateZ(25px) scale(1.2);
    position:absolute;
    top: 0px;
    left: 0px;
}

.foreground {
    transform: translateZ(40px) translateY(-25px) scale(1.1);
    position:absolute;
    top: 0px;
    left: 0px;
}

/* ====================================================================== */
/* ========================= ADAPTATIONS MOBILE ========================= */
/* ====================================================================== */

/* si la largeur d'écran est d'au moins 601px, ordinateur */
@media screen and (min-width: 601px) {

}

/* si la taille d'écran est moins de 600px, mobile */
@media screen and (max-width: 600px) {
.background {
    transform: translateY(-15px);
}
}